@model List<WebApplication1.Models.Empresa>

<h2>Empresas Cadastradas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Nome</td>
                <td>@e.Cnpj</td>
                <td>@e.Email</td>
                <td>@e.Telefone</td>
            </tr>
        }
    </tbody>
</table>
